<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width",  initial-scale=1.0>
    <title>Страница Календарь</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="menu">
            <ul>
                <li>
                    <a href="/">
                        <img src="/static/image/app_icon.png" alt="Логотип", class="logo">
                    </a>
                </li>
                <li>
                    <a href="/dashbord">
                        <img src="/static/image/app_dasboard_icon.png", alt="Дашбобрд", class="logo_dash">
                    </a>       
                </li>
                <li>
                    <a href="/taskstr">
                        <img src="/static/image/app_tasks_icon.png", alt="Задачи", class="logo_dash">
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <img src="/static/image/app_cal_icon.png", alt="Календарь", class="logo_dash">
                    </a>
                </li>
                <li>
                    <div class="square">ПУ</div>
                </li>
                <li>
                    <div class="squ">БУ</div>
                </li>
                <li>
                    <div class="square">ЛА</div>
                </li>
                <li class="tt">1.4.2345</li>
            </ul>
        </div>
        <div class="content">
            <h1>Календарь</h1>
            <p>Страница календарь</p>
        </div>
    </div>
</body>
</html>