<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width",  initial-scale=1.0>
    <title>Страница Список задач</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="menu">
            <ul>
                <li>
                    <a href="/">
                        <img src="/static/image/app_icon.png" alt="Логотип", class="logo">
                    </a>
                </li>
                <li>
                    <a href="/dashbord">
                        <img src="/static/image/app_dasboard_icon.png", alt="Дашбобрд", class="logo_dash">
                    </a>       
                </li>
                <li>
                    <a href="/taskstr">
                        <img src="/static/image/app_tasks_icon.png", alt="Задачи", class="logo_dash">
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <img src="/static/image/app_cal_icon.png", alt="Календарь", class="logo_dash">
                    </a>
                </li>
                <li>
                    <div class="square">ПУ</div>
                </li>
                <li>
                    <div class="squ">БУ</div>
                </li>
                <li>
                    <div class="square">ЛА</div>
                </li>
                <li class="tt">1.4.2345</li>
            </ul>
        </div>
        <div class="content">
            <h1>Список задач</h1>
            <div class="cont">
                {% for tt in tata %}
                <div class="num_cont">
                    <div class="nub_task">{{ tt.nubver }}</div>
                    <div class="vaib_task">{{ tt.vaib }}</div>
                    <div class="opi_task">{{ tt.opinasin }}</div>
                    <div class="name_task">{{ tt.name }}</div>
                    <div class="ded_task">{{ tt.dedline }}</div>
                    <div class="logo_skip">
                        <img src="/static/image/app_next_icon.png", alt="logo_sk", class="logo-sk">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>